body {
    font-family: 'roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(157, 220, 220);
}
main {
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 1rem;
   
}
section {
    padding: 1rem;
    background-color: #fff;
}

footer {
    text-align: center;
    background-color: #fff;
}