/* Estilo da barra de pesquisa */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.search-bar input {
    width: 250px;
    padding: 10px;
    border: 2px solid var(--color-primary-5);
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.search-bar input:focus {
    width: 300px;
    border-color: var(--color-primary-5);
}

.search-bar button {
    background-color: var(--color-primary-3);
    color: var(--color-primary-5);
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: var(--color-primary-5);
    color: var(--color-primary-3)
}