header {
    flex-direction: row;
    justify-content: space-between;
}

#menu {
    display: none;
}

.navigation {
    display: flex; 
    flex-direction: row;
    gap: 1rem;
    width: auto;
}

.navigation li a {
    border: none;
    padding: 0.5rem 1rem;
}


.gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}